<EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
    <MudDialog>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Size="Size.Small" 
                         Icon="@Icons.Material.Filled.Edit" 
                         class="mr-3"></MudIcon>
                <MudText>Edit Setting</MudText>
            </div>
        </TitleContent>
        <DialogContent>
            <DataAnnotationsValidator />
            <MudTextField @bind-Value="@Model.Key"
                          For="(() => Model.Key)"
                          Label="Key"
                          ReadOnly />
            @if (null != Model.Value)
            {
                <MudTextField @bind-Value="@Model.Value"
                              For="(() => Model.Value)"
                              Label="Value" />
                <MudSwitch @bind-Checked="@Model.IsSecret"
                           For="(() => Model.IsSecret)"
                           Color="@(Model.IsSecret ? Color.Info : Color.Inherit)"
                           Label="Is Secret" />
            }
            <MudTextField @bind-Value="@Model.Comment"
                          Lines="4"
                          For="(() => Model.Comment)"
                          Label="Comment" />
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">
                Cancel
            </MudButton>
            <MudButton Color="Color.Primary" 
                       ButtonType="ButtonType.Submit">
                Save Changes
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
