@page "/features"
@attribute [Authorize]

<MudBreadcrumbs Items="_crumbs"></MudBreadcrumbs>

<MudText Typo="Typo.h4">
    Features
</MudText>
<MudText Class="pb-5"
         Typo="Typo.body1">
    Use this page to manage your application features
</MudText>

<ErrorBlock Dismissable Content="@_error" />
<InfoBlock Dismissable Content="@_info" />

<HelpBlock Visible="@(!ApplicationStore.AsQueryable().Any() || !EnvironmentStore.AsQueryable().Any())"
           Content="Features require an application and an environment, but, that data hasn't been created yet!">
    <ChildContent>
        <MudText Class="px-5 pb-1"
                 Color="Color.Info"
                 Typo="Typo.body1">
            Go <a href="/applications">HERE</a> to create one or more applications
        </MudText>
        <MudText Class="px-5 pb-1"
                 Color="Color.Info"
                 Typo="Typo.body1">
            Go <a href="/environments">HERE</a> to create one or more environments
        </MudText>
    </ChildContent>
</HelpBlock>

@if (ApplicationStore.AsQueryable().Any() && EnvironmentStore.AsQueryable().Any())
{
    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="2" md="2" lg="2"></MudItem>
                    <MudItem xs="8" md="8" lg="8">
                        @if (_selectedApplicationId == 0 && _selectedEnvironmentId == 0)
                        {
                            <div class="d-flex">
                                <MudIcon Icon="@Icons.Outlined.Help"
                                         Class="mr-3"
                                         Color="Color.Info"
                                         Size="Size.Small" />
                                <MudText Typo="Typo.body1"
                                         Color="Color.Info">
                                    To get started, choose an application and environment from the lists below.
                                </MudText>
                            </div>
                        }
                    </MudItem>
                    <MudItem xs="2" md="2" lg="2"></MudItem>
                    <MudItem xs="2" md="2" lg="2"></MudItem>
                    <MudItem xs="4" md="4" lg="4">
                        <MudSelect T="CG.Olive.Models.Application"
                                   Label="Application"
                                   HelperText="@(_selectedApplicationId  == 0 ? "Select an application to show features" : "")"
                                   SelectedValuesChanged="OnApplicationChanged">
                            @foreach (var item in ApplicationStore.AsQueryable())
                            {
                                <MudSelectItem Value="@item">
                                    @item.Name
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="4" md="4" lg="4">
                        <MudSelect T="CG.Olive.Models.Environment"
                                   Label="Environment"
                                   HelperText="@(_selectedEnvironmentId  == 0 ? "Select an environment to show features" : "")"
                                   SelectedValuesChanged="OnEnvironmentChanged">
                            @foreach (var item in EnvironmentStore.AsQueryable())
                            {
                                <MudSelectItem Value="@item">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="2" md="2" lg="2"></MudItem>
                </MudGrid>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid Justify="Justify.Center">
                <MudItem xs="0" md="1" lg="2"></MudItem>
                <MudItem xs="12" md="10" lg="8">
                    @if (_query.Any())
                    {
                        <MudTable T="CG.Olive.Models.Feature"
                                  Items="_query"
                                  Elevation="0"
                                  Dense="true">
                            <ColGroup>
                                <col />
                                <col />
                                <col />
                                <col style="width: 125px;" />
                            </ColGroup>
                            <HeaderContent>
                                <MudTh>
                                    <MudTableSortLabel InitialDirection="SortDirection.Ascending"
                                                       SortBy="new Func<Setting, object>(x=>x.Key)">
                                        Key
                                    </MudTableSortLabel>
                                </MudTh>
                                <MudTh>
                                    <MudTableSortLabel SortBy="new Func<Setting, object>(x=>x.Value)">
                                        Value
                                    </MudTableSortLabel>
                                </MudTh>
                                <MudTh>
                                    <MudTableSortLabel SortBy="new Func<Setting, object>(x=>x.Comment)">
                                        Comment
                                    </MudTableSortLabel>
                                </MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Key">
                                    @context.Key
                                </MudTd>
                                <MudTd DataLabel="Value">
                                    <MudSwitch @bind-Checked="@context.Value"
                                               ReadOnly="true"
                                               Label="@(context.Value ? "On" : "Off")"
                                               Color="@(context.Value ? Color.Info : Color.Inherit)" />
                                </MudTd>
                                <MudTd DataLabel="Comment">
                                    @context.Comment
                                </MudTd>
                                <MudTd>
                                    <MudTooltip Text="Edit">
                                        <MudIconButton Icon="@Icons.Outlined.Edit"
                                                       Size="Size.Small"
                                                       OnClick=@(() => OnEditFeatureAsync(context)) />
                                    </MudTooltip>
                                    <MudTooltip Text="Properties">
                                        <MudIconButton Icon="@Icons.Outlined.Settings"
                                                       Size="Size.Small"
                                                       OnClick=@(() => OnPropertiesAsync(context)) />
                                    </MudTooltip>
                                </MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager PageSizeOptions="new int[]{10, 20, 50}" />
                            </PagerContent>
                        </MudTable>
                    }
                    else
                    {
                        if (_selectedApplicationId != 0 && _selectedEnvironmentId != 0)
                        {
                            <MudText Class="pt-5"
                                     Typo="Typo.h6">
                                No matching features
                            </MudText>
                        }
                    }
                </MudItem>
                <MudItem xs="0" md="1" lg="2"></MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}

